.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;

    .user {
        display: flex;
        align-items: center;

        .pp {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

<<<<<<< HEAD
        .country {
            display: flex;
            align-items: center;
            gap: 10px;
            color: gray;

            img {
                width: 20px;
            }
        }
=======
        .info {
            gap: 5px;
            .country {
                display: flex;
                align-items: center;
                color: rgb(58, 122, 251);

                // img {
                //     width: 20px;
                // }
            }
        }

>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
    }

    .stars {
        display: flex;
        gap: 5px;

        .staricon {
            color: #ffc108;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            color: #8d7f53;
        }
    }

    .helpful {
        display: flex;
        align-items: center;
        gap: 10px;


    }
}