.catCard{
    width: 270px;
    height: 244px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 10px;

    img{
        width: 65%;
        height: 70%;
        object-fit: cover;
<<<<<<< HEAD
        // padding: 50px 80px;
=======
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
    }

    .desc{
        font-family: 300;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .title{
<<<<<<< HEAD
        // font-weight: 500;
=======
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
        font-size: 24px;
        left: 12px;
        top: 40px;
        position: absolute;

    }

}