.featured {
    display: flex;

    .Container {
        color: rgb(0, 0, 0);
        background: url("./img/backgroundimg.png") no-repeat center center/cover;
        height: 750px;
        width: 100%;
        display: flex;


        button {
            padding: 5px 10px;
            font-weight: 500px;
            font-size: 15px;
            border-radius: 8px;
            color: rgb(197, 21, 21);
            background-color: rgb(85, 23, 228);
        }

        .left {
            margin: 70px 70px;
            color: rgb(238, 255, 0);
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-weight: 500;
                color: rgb(255, 255, 255);
                font-family: Times, "Times New Roman", Georgia, serif;
                font-size: 55px;

                i {
                    color: rgb(121, 236, 6);
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 10px;
                width: 400px;
                height: 30px;

                .SearchSharp {
                    color: black;
                }

                button {
                    width: 80px;
                    height: 30px;
                    border: none;
                    background-color: rgb(3, 110, 3);
                    color: white;
                    cursor: pointer;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 5px;

                span {
<<<<<<< HEAD
                    color: rgb(206, 255, 31);
=======
                    color: rgb(34, 255, 0);
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
                }

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 10px;
                    font-size: 14px;
                    cursor: pointer;

                }
            }

            .searchInput {
                display: flex;
                align-items: center;
                gap: 5px;

            }

            input {
                outline: none;
                border: none;

            }

<<<<<<< HEAD
=======
            #dynamicText{
                font-size: 60px;
                color: rgb(255, 255, 255);
                font-weight: 500;
                -webkit-text-stroke: 0.5px black;
                font-family: Times, "Times New Roman", Georgia, serif;
            }
            .flexText{
                display: flex;
            }
            #changingText{
                font-size: 50px;
                margin-left: 20px;
                margin-top: 1px;
                // border: 1px solid black;
                -webkit-text-stroke: 1px rgb(0, 255, 183);
                font-family: Times, "Times New Roman", Georgia, serif;
                color: rgb(255, 255, 255);          
            }
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
        }

        .right {

            height: 100%;

            .homepic2 {
                height: 600px;
                width: 600px;
                margin: -50px 40px;
                padding: 0px 0px;
                filter: drop-shadow(10px 2px 15px black);     

            }

            .SearchSharp {
                color: rgb(0, 0, 0);
            }

        }
    }
}