.pay{
<<<<<<< HEAD
    // display: flex;
=======
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 50px;
<<<<<<< HEAD
    margin-left: 420px;
=======
    margin-left: 520px;
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
    margin-bottom: 100px;

}