.featured {
    display: flex;
    color: rgb(30, 255, 97);

    .Container {
        color: rgb(0, 0, 0);
        background: url("./img/backgroundimg.png") no-repeat center center/cover;
        height: 750px;
        display: flex;


        button {
            padding: 5px 10px;
            font-weight: 500px;
            font-size: 15px;
            border-radius: 8px;
            color: rgb(197, 21, 21);
            background-color: rgb(85, 23, 228);
        }

        .left {
            margin: 70px 70px;
            color: rgb(200, 255, 0);
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 60px;
                color: rgb(255, 255, 255);
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 10px;
                width: 400px;
                height: 30px;

                .SearchSharp{
                    color: black;
                }

                button {
                    width: 80px;
                    height: 30px;
                    border: none;
                    background-color: rgb(3, 110, 3);
                    color: white;
                    cursor: pointer;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 5px;

                span {}

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 10px;
                    font-size: 14px;
                    cursor: pointer;

                }
            }

            .searchInput {
                display: flex;
                align-items: center;
                gap: 5px;

            }

            input {
                outline: none;
                border: none;

            }

        }

        .right {
            .homepic2 {
                height: 500px;
                width: 500px;
            }

            .SearchSharp {
                color: rgb(0, 0, 0);
            }

        }
    }
}