.Container{
    color: rgb(0, 0, 0);
    background-color: #d7e6fd;
    height: 400px;
   
    button{
        padding: 5px 10px;
    font-weight: 500px;
    font-size:15px;
    border-radius: 8px;
    color: rgb(197, 21, 21);
    background-color: rgb(85, 23, 228);
    cursor: pointer;
}

.homePic{
  height: 500px;
  width: 500px;
}

}
.homepic2{
    height: 500px;
    width: 500px;
}