.navbar {
    color: blue;
    display: flex;
    justify-content: center;
    border: 2px solid  rgb(29, 28, 28);
    height: 70px;
    width: 1362px;
    position: sticky;
    top: 0px;

}

.container {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: rgb(29, 29, 37);
}

.logo {
    height: 250px;
    width: 250px;
    margin-top: -48px;
    margin-left: 20px;
    cursor: pointer;
}

.link {
    display: flex;
    color: aliceblue;
    align-items: center;
    gap: 24px;
    margin-right: 100px;
    font-weight: 400px;
    cursor: pointer;
}

button{
    padding: 5px 10px;
    font-weight: 500px;
    font-size:15px;
    border-radius: 8px;
    color: black;
    background-color: rgb(23, 228, 23);
    cursor: pointer;
}

button:hover{
    background-color: rgb(80, 255, 138);
}

.user{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    position: relative;

    img{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
    }

    .options{
        position: absolute;
        top: 50px;
        padding: 20px;
        background-color: rgb(236, 244, 252);
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        gap: 10px;
        width: 120px;
        font-weight: 380;
        

    }
}