.message {
    display: flex;
    justify-content: center;
    .container {
      width: 950px;
      margin: 50px;
      .breadcrumbs {
        font-weight: 300;
        font-size: 16px;
        color: #000000;
      }
      .messages {
        margin: 30px 0px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 200px;
        width: 800px;
        overflow: scroll;
  
        .item {
          display: flex;
          gap: 10px;
          max-width: 600px;
          font-size: 18px;

          &.owner {
            flex-direction: row-reverse;
            align-self: flex-end;
            

              p {
            max-width:500px;
<<<<<<< HEAD
            // height: 1px;
=======
>>>>>>> 494744736fccee31f0401ce2d804d18c4b4e1da7
            font-size: medium;
            border-radius: 20px 0px 20px 20px;
            background-color: royalblue;
            color: white;
          }
  
        }
  
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }


          p {
            max-width: 800px;
            font-size: medium;
            padding: 20px;
            background-color: rgb(235, 235, 235);
            border-radius: 0px 20px 20px 20px;
            color: rgb(0, 0, 0);
            font-weight: 300;
          }
          
        }
        
      }
  
      hr {
        height: 0;
        border: 0.5px solid rgb(156, 154, 154);
        margin-bottom: 20px;
      }
  
      .write {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        textarea {
          width: 85%;
          height: 50px;
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 10px;
        }
  
        button{
          background-color: #1dbf73;
          padding: 15px;
          color: white;
          font-weight: 500;
          font-size: medium;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          width: 80px;
        }
      }
    }
  }